:root {
    --primary-bg-color: #126b9d;
    --primary-light-bg-color: #e5eeef;
    --yellow: #FAE27C;
    --primary-bg-hover: #233ac5;
    --blue: #303972;
    --primary-bg-border: #5161c1;

}

.sm {
    font-size: 14px !important;
    font-weight: 500;
}

.semibold {
    font-weight: 500 !important;
}

.secondary_text {
    color: #8A8D8E !important;
}

.object-fit-contain {
    object-fit: contain;
}

.sub-slide a {
    padding-bottom: 10px;
    /* list-style: none; */
}

.slide.is-expanded .sub-slide a {
    border-left: 3px solid #377ba0;
}

.slide.is-expanded .sub-slide a.active {
    border-left: 3px solid #fff;
}

.class_list_wrapper {
    background-color: var(--primary-light-bg-color);
    border-radius: 20px;
    overflow: hidden;
    padding: 20px 10px 40px 10px;
    margin-bottom: 30px;
    width: 100%;
}

.icon_color {
    color: #35656F !important;
}

.subject {
    background-color: #F9F9F9;
    margin-bottom: 0;
    width: fit-content;
    padding: 4px 20px;
    font-family: 'Poppins', sans-serif !important;
    border-radius: 20px;
}

.css-13cymwt-control {
    border: 1px solid #C1BBEB !important;
    outline: none !important;
    width: 100% !important;
}

.css-1xc3v61-indicatorContainer {
    color: #C1BBEB !important;
}

.select_box,
.css-1jqq78o-placeholder {
    font-size: 14px !important;
    color: #000 !important;
    font-family: 'Poppins', sans-serif !important;
}

.custom_col {
    padding-left: 0.25rem !important;
    padding-right: 0.25rem !important;
    margin-bottom: 4px;
}

p {
    margin-bottom: 0px !important;
}


.class_head {
    background-color: var(--primary-bg-color);
    display: flex;
    justify-content: space-around;
    color: #fff;
    align-items: center;
    border-radius: 30px 30px 0px 0 !important;
    padding: 12px;
}

.class_table_row {
    border: 1px solid #00000054;
    height: 40px;
}

.customm_border_bottom {
    border-bottom: 1px solid #00000033;
}

.add_class_btn {
    background-color: #FAE27C;
    width: fit-content;
    margin-left: auto;
    padding: 8px 20px;
    border-radius: 50px;
}

.required_icon {
    color: red;
}

.rdt_TableHeadRow {
    background-color: var(--primary-bg-color) !important;
    color: #fff !important;
    border-radius: 10px 10px 0px 0 !important;
}

.rdt_TableRow {
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
    border-bottom: 1px solid #A7A9AA40 !important;

}

.bordered_data_table .rdt_TableRow {
    border: 1px solid #A7A9AA40 !important;

}

.rdt_TableCol,
.rdt_TableCell {
    border: none !important;
}

.action_icon_wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
}

.action_icon_wrapper i {
    font-size: 20px;
    cursor: pointer;
}

.action_icon_wrapper .fa-edit {
    color: #FAE27C;
}

.action_icon_wrapper .fa-ellipsis-v {
    color: #8A8D8E;
}

.search_bar {
    position: relative;
    margin-bottom: 10px;
}

.search_bar .search_input {
    padding-left: 40px;
    border-radius: 50px;
}

.search_bar .search_input::placeholder {
    color: #8A8D8E !important;
}

.search_bar .search_icon {
    position: absolute;
    left: 30px;
    top: 8px;
    color: #8A8D8E;
}

.search_bar .search_btn {
    border-radius: 50px;
    color: #242424 !important;
    font-size: 14px;
    padding: 8px 20px;
    min-width: auto;
    background-color: var(--yellow) !important;
    border: none !important;
}

.search_bar_wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
}




/*  */

.studen_details_tab {
    font-size: 14px;
    font-weight: 500;

}

.student_tab {
    display: flex;
    gap: 30px;
}

.studen_details_tab.active {
    background-color: var(--primary-bg-color);
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    border-radius: 4px;
}

.studen_details_tab.active a:hover {
    color: #fff;
}

.profile-card {
    background-color: var(--primary-bg-color);
    color: white;
    border-radius: 15px;
}

.profile-card .img_wrapper {
    height: 100px;
    width: 100px;
}

.education-card {
    background-color: var(--primary-bg-color);
    color: white;
    border-radius: 15px;
}

.education-card ul li {
    margin-bottom: 5px;
    list-style: disc;
    margin-left: 15px;
}

.education-card ul span {
    color: #D7D7D7;
    font-size: 14px;
}

.attendance_chart .card {
    background-color: #f8f8f8;
    border-radius: 20px;
    height: 100%;
}

.subject-card {
    background-color: #f8f8f8;
    border: 1px solid #dee2e6;
}

.payment-history {
    background-color: #f3f3f5;
    border: 1px solid #dee2e6;
    border-radius: 20px;

}

.payment-history .border-bottom {
    border-bottom: 1px solid #00000033 !important;
}

.payment_name {
    color: #000;
    font-size: 14px;
}

.payment_date {
    font-size: 12px;
    color: #A098AE;
}

.payment_amount {
    font-size: 18px;
    color: #303972;
    font-weight: 700;
}

.class_text {
    color: #FFFFFF75;
    font-size: 12px;
}

.profile_card_p {
    color: #F1F1F1;
    font-size: 12px;
}

.academic_subjects_title {
    color: var(--blue);
    font-size: 18px;
    font-weight: 700;
}

.main-header-center .form-control::placeholder {
    font-size: 14px !important;
    font-weight: 500;
    /* padding-left: 2.5rem !important; */
}

.main-header-center .fe-search {
    font-size: 20px !important;
    font-weight: 500;
}

.custom_card_header {
    padding-top: 50px;
}

.modal-content {
    border-radius: 10px;
}

.custom_card_body {
    padding-left: 60px;
    padding-right: 40px;
}

.class_list_wrapper .class_number {
    font-size: 22px !important;
    font-weight: 500 !important;
}

.poppins_font,
label {
    font-family: 'Poppins', sans-serif !important;
}

.edit_icon {
    color: #FAE27C;
}

@media screen and (max-width: 680px) {
    .card-body {
        padding: 10px !important;
    }

    .acadmics_card_body {
        padding-left: 30px !important;
    }
}



/* date picker */
.date-picker-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 5px 10px;
    width: 200px;
    background-color: #f9f9f9;
}

.calendar-icon {
    color: #ccc;
    font-size: 20px;
    margin-right: 10px;
}

.custom-input {
    border: none;
    outline: none;
    font-size: 16px;
    color: #ccc;
    background-color: transparent;
    width: 100%;
}

.custom-input::placeholder {
    color: #ccc;
}

.custom-input:focus {
    border: none;
    outline: none;
}

.edit_student_btn {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10;
}

.sticky_student_btn {
    color: #fff;
    background: var(--primary-bg-color);
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 20px 0;
}

.dnd_field {
    border: 1px dashed #C1BBEB;
    text-align: center;
    padding: 47px;
    width: 250px;
}

.food_img_upload .dnd_field {
    width: 90%;
}

.dnd_field2 {
    border: 1px dashed #C1BBEB;
    text-align: center;
    padding: 9px;
}

.optional {
    color: #0000006B;
}

.dnd_field2_text {
    visibility: hidden;
}

.edit_student_submit_btn button {
    border-radius: 50px;
    padding: 10px 20px !important;
}

.edit_student_submit_btn .btn-outline {
    background-color: transparent !important;
    color: #4D44B5 !important;
    border: 2px solid #4D44B5 !important;
}

.edit_student_form .form-control::placeholder {
    color: #A098AE !important;
    font-size: 14px !important;
    font-family: 'Poppins', sans-serif !important;
}

.report_card_dropdown {
    background-color: #649769;
    border-radius: 15px;
    padding: 10px 20px;
    color: #fff;
}

.report_card .dropdown-menu,
.attendance_dropdown .dropdown-menu {
    background-color: #8AB7BA;
    padding: 5px !important;
    border: 0;
}

.report_card .dropdown-item,
.attendance_dropdown .dropdown-item {
    color: #000;
    margin-bottom: 5px;
    font-family: 'Poppins', sans-serif !important;
}

.report_card i {
    color: #35656f;
    font-size: 25px;
}

.report_card .dropdown-item:hover,
.attendance_dropdown .dropdown-item:hover {
    background-color: #fff;
    border-radius: 5px;
}

.attendance_card_dropdown {
    border: 1px solid #000000C4;
    padding-left: 150px;
}

.student_search_input_wrapper {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
}

.student_search_input_wrapper .student_search_input {
    width: 100%;
}

@media screen and (max-width: 1080px) {
    .student_search_input_wrapper {
        flex-wrap: wrap;
    }
}

.custom_hr {
    border: 0;
    height: 1px;
    background: #00000047;
}

.complaint {
    background-color: #AC0000;
    padding: 20px;
    border-radius: 20px;
}

.complaint .type {
    color: #FFFFFFA8;
    font-weight: 500;
}

.complaint .complaint_text {
    font-size: 14px;
}

.complaint_title {
    display: flex;
    justify-content: space-between;
}

.complaint_title span {
    font-weight: 600;
}

.room_card_body {
    padding: 25px 35px;
}

.room_card {
    padding: 30px 20px;
    border-radius: 20px;
    /* padding: 0 !important; */
}

.room_number {
    font-size: 14px;
    color: #242424;
}

.room_card_first {
    background-color: #C3E6FA;
}

.room_card_second {
    background-color: #C3FAC8;
}

.room_card_third {
    background-color: #C4C3FA;
}

.add_room_form .form-control::placeholder,
.add_room_form .form-select::placeholder {
    color: #A098AE !important;
}

.input_wrapper {
    display: flex;
    align-items: baseline;
}

.input_wrapper label {
    width: 250px;
}

@media screen and (max-width: 680px) {
    .input_wrapper {
        display: block;
    }

    .input_wrapper label {
        width: 100%;
    }
}

.reason_input {
    background-color: #E4E4E4;
    padding: 10px;
    border-radius: 6px;
    width: 100%;
}


.visitor_add_form .form-control::placeholder,
.visitor_add_form .form-select::placeholder {
    color: #A098AE !important;
}




/* toggle button */
.toggle-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 35px;
    background-color: #CBFAC34D;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease;
}

.toggle-button.active {
    background-color: #FAC3C34D;
}

.toggle-button .toggle-indicator {
    position: absolute;
    left: 10px;
    width: 10px;
    top: 13px;
    height: 10px;
    background-color: #4AE850;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.toggle-button.active .toggle-indicator {
    left: 50px;
    background-color: #E84A4A;
}

.toggle-button span {
    color: #4AE850;
    font-weight: bold;
    font-size: 14px;
    transition: color 0.3s ease;
}

.toggle-button.active span {
    color: #E84A4A;
}

.create_pass_btn {
    background-color: #078231 !important;
    color: #fff;
}

.cancel_btn {
    background-color: #BF6262 !important;
    color: #000;
    border: 1px solid #BF6262 !important;
    /* padding-left: 30px;
    padding-right: 30px; */
}