.search-input {
    border-radius: 20px;
    padding: 5px 15px;
}

.filter-button {
    background-color: rgb(247, 197, 61) !important;
    color: black;
    border: none;
    font-weight: bold;
    border-radius: 20px;
}

.p-datatable-thead {
    background-color: #126b9d !important;

}

.even-row {
    background-color: #f9f9f9;
}

.odd-row {
    background-color: #fff;
}

.p-datatable-row-hover {
    background-color: #ffefef !important;
}

.p-button-edit {
    background-color: #f39c12;
    border-color: #f39c12;
    color: white;
}

.p-button-delete {
    background-color: #e74c3c;
    border-color: #e74c3c;
    color: white;
}

.p-paginator {
    justify-content: center;
}

.p-paginator .p-paginator-pages .p-paginator-page {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.p-paginator .p-paginator-page.p-highlight {
    background-color: #009ef7;
    color: white;
    border-color: transparent;
}

.input-form {
    border: 1px solid #C1BBEB;
    ;
}

.transparent-btn {
    background-color: transparent;
    border: 1px solid black;
    color: black;
    transition: background-color 0.3s ease;
}

.transparent-btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.card-style {
    /* border-radius: 15px;
    padding: 5px; */
    background-color: #dc4d5e;
}

.text-size {
    font-size: 12px;
}

.bg-secondry {
    background-color: rgb(243, 243, 243);
}

.text-secondry {
    color: rgb(210, 206, 206);
}

.title-button {
    border-top-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
}

.sc-eUlrpB {
    padding: 0 !important;
}

.border-top-thick-dark {
    border-top: 1px solid #b8b8b8 !important;
}

.w-100 {
    width: 100% !important;
}

.width-inherit {
    width: inherit;
}

.academic-card {
    background-color: rgb(229, 238, 239);
}

.accordian-header {
    background-color: rgb(18, 107, 157) !important;
}

.accordion-button {
    color: white !important;
}

.accordion-body {
    background-color: rgb(229, 238, 239) !important;
}

.accordian-rounded-radious {
    border-radius: 20px !important;
}

.card-academic-schedule {
    background-color: rgb(18, 107, 157) !important;
}



.custom-table {
    border-collapse: separate;
    border-spacing: 0;
}

.custom-table thead {
    border-radius: 8px 8px 0 0;
}

.custom-table thead tr th {
    color: white;
    text-align: center;
}


.custom-table tbody td {
    border-radius: 0;
}

.custom-table {
    border-radius: 8px;
    overflow: hidden;
}

.custom-table {
    border: 1px solid #dee2e6;
}

.border-radious-20 {
    border-radius: 20px;
    padding: 0;
    border: red;
}

.download-button {
    background-color: rgb(100, 151, 105) !important;
}

.fees-card-bg-color {
    background-color: rgb(195, 235, 250)
}

.status-btn {
    background-color: rgb(205, 236, 249);
    border-radius: 20px;
}

.status-txt {
    color: rgb(39, 184, 246) !important;
}

.rounded-table {
    border-radius: 20px 20px 0 0;
    overflow: hidden;
    box-shadow: 1px 1px 1px 0px rgb(218, 217, 217);
}

.top-left-radius {
    border-top-left-radius: 20px;
}

.top-right-radius {
    border-top-right-radius: 20px;
}

.border-bottom-modal-title {
    border-bottom: 1px solid rgb(108, 107, 107);
}

.border-right {
    border-right: 2px solid rgb(191, 189, 189);
}