
@import "./assets/scss/_variables.scss";

//perfect scrollbar 
@import 'react-perfect-scrollbar/dist/css/styles.css';

//react-hot=-taostify
@import 'react-toastify/dist/ReactToastify.css';

//advanced forms countrys
@import 'react-phone-input-2/lib/style.css';

// form-editor

@import "suneditor/dist/css/suneditor.min.css";

@import "./assets/css/icons.css";
@import "./assets/switcher/css/switcher.css";
@import "./assets/switcher/demo.css";

@import "./assets/css/style.css";
@import "./assets/css/dashboard.css";
@import "./assets//css/rohit.css"
